{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="{% static 'usuarios/css/login.css' %}" rel="stylesheet">
    <link rel="shortcut icon" type="imagex/png" href="{% static 'usuarios/img/icon.ico' %}"></head>
<body>
    <div class="container">
        <div class="logo">
            <img src="{%static 'usuarios/img/Logo_FF.png'%}" alt="Logo">
        </div>
        <div class="titulo"> <h1>Faça Login</h1> </div>

        </br>
        {{error}}
        

        <form action="#" method="POST"> {% csrf_token %}
            <label for="nome-de-usuario">Nome de Usuário:</label>
            <input type="text" id="nome-de-usuario" name="nome-de-usuario" required>

            <label for="senha">Senha:</label>
            <input type="password" id="senha" name="senha" required>

            
            <label for="manter-conectado">
                <input type="checkbox" id="manter-conectado" name="manter-conectado"> Mantenha-me conectado
            </label>

            <input type="submit" value="Entrar">
        </form>
    </div>
</body>
</html>
